@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
}
.container {
  max-width: 1100px;
  margin: 0 auto;
}
h5{
  text-align: center;
}
body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #F3EEEA;
  height: 70vh;
  width: 100%;
}

.header-content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.header-txt {
  width: 600px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: left;
  gap: 25px;
  color: #ffffff;
  text-wrap: balance;
}
.span1{
  color: #B0A695  ;
}

.header-txt p{
  color: #776B5D ;
}

.btns {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  width: 700px;
}
.btn1 {
  padding: 13px 27px;
  border-radius: 10px;
  border: none;
  color: #ffffff;
  background-color: #90794f ;
  font-weight: 600;
  cursor: pointer;
}
.imgBernardo {
  border: 4px solid rgb(255, 255, 255);
  width: 310px;
  height: 340px;
  background:url(assets/wawaso.jpg) ;
  background-position: center center;
  background-size: cover;
  border-radius: 79% 21% 78% 22% / 20% 69% 31% 80%;
}

.contact{
  padding: 10px 20px;
  background-color: #90794f ;
  border-radius: 10px;
  color: #ffffff;
}
.header-txt h1{
  color: #90794f    ;
}

nav {
  width: 100%;
}

nav ul {
  display: flex;
  padding: 30px;
  gap: 30px;
  justify-content: flex-end;
}

nav ul li a {
  color: #776B5D ;
  font-weight: 500;
}

.menu{
  display: flex;
  align-items: center;
  justify-content: center;
}

.icons1{
  color: #25D366;
  cursor: pointer;
}

.icons2{
  color: #BC2A8D;
  cursor: pointer;
}


.toggle-switch {
  position: relative;
  width: 60px; /* Ajusta el ancho según tu preferencia */
  height: 30px; /* Ajusta el alto según tu preferencia */
  --light: #d8dbe0;
  --dark: #28292c;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  position: absolute;
  width: 100%;
  height: 30px; /* Ajusta el alto según tu preferencia */
  background-color: var(--dark);
  border-radius: 15px; /* La mitad del alto para mantener la forma circular */
  cursor: pointer;
  border: 2px solid var(--dark);
}

.checkbox {
  position: absolute;
  display: none;
}

.slider {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 15px; /* La mitad del alto para mantener la forma circular */
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  content: "";
  position: absolute;
  top: 5px; /* Ajusta la posición vertical del botón según tu preferencia */
  left: 5px; /* Ajusta la posición horizontal del botón según tu preferencia */
  width: 20px; /* Ajusta el ancho del botón según tu preferencia */
  height: 20px; /* Ajusta el alto del botón según tu preferencia */
  border-radius: 50%;
  -webkit-box-shadow: inset 8px -2px 0px 0px var(--light);
  box-shadow: inset 8px -2px 0px 0px var(--light);
  background-color: var(--dark);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.checkbox:checked ~ .slider::before {
  -webkit-transform: translateX(30px); /* Ajusta la posición del botón cuando el switch está activado */
  -ms-transform: translateX(30px);
  transform: translateX(30px);
  background-color: var(--dark);
  -webkit-box-shadow: none;
  box-shadow: none;
}


.svg{
  margin-top: -70px;
}


/*MAIN*/

main{

  min-height: 50vh;
  background-color: #EBE3D5 ;
  padding: 50px;
}

main p{
  color: #776B5D ;
}

main h1{
  padding-top: 100px;
  color: #90794f ;
  padding-bottom: 50px;
}

.containerTec{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  gap: 30px;
  flex-wrap: wrap;
}

.proximasTecnologias{
  display: flex;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.tecnologias{
  display: flex;
  height: 300px;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons{
  display: flex;
  align-items: center;
  gap: 20px;
  color: #fff;
}

/*PROYECTOS*/

section{
  min-height: 120vh;
  background-color: #F3EEEA ;
  padding: 50px;
}
.hunu{
  padding-top: 50px;
  text-align: center;
  font-size: 2.4rem;
  color: #90794f;
}
.container-proyects{
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  position: relative;
  justify-content: center;
  align-items: center;
  padding-top: 100px;
}


.proyect1{
  background: url(assets/cafes.png);
  border: 2px solid ;
  width: 350px;
  height: 200px;
  object-fit: cover;
  background-position: center;
  background-size: cover;position: relative;
}

.proyect2{
  background: url(assets/orientando.png);
   border: 2px solid ;
  width: 350px;
  height: 200px;
  object-fit: cover;
  background-position: center;
  background-size: cover;position: relative;
  
}

.proyect3{
  background: url(assets/B&BLABS.png);
   border: 2px solid ;
  width: 350px;
  height: 200px;
  object-fit: cover;
  background-position: center;
  background-size: cover;position: relative;
  
}



.proyect4{
  background: url(assets/students.png);
   border: 2px solid ;
  width: 350px;
  height: 200px;
  object-fit: cover;
  background-position: center;
  background-size: cover;position: relative;
  
}

.proyect5{
  background: url(assets/ecomerce.png);
   border: 2px solid ;
  width: 350px;
  height: 200px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  position: relative;
}

.proyect6{
  background: url(assets/GeneradorDeColores.png);
  border: 2px solid #ffffff;
  width: 350px;
  height: 200px;
  object-fit: cover;
  background-position: center;
  background-size: cover;
  position: relative;
}

.btsP{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  position: absolute;
  gap: 30px;
  flex-direction: column;

}
.btnsProyectInfo{
  display: flex;
  gap: 20px;
}
.btsP button{
    padding: 12px 25px;
    border-radius: .625rem;
    border: none;
    color: #fff;
    background-color: #0033ff;
    display: none;
    font-weight: 700;

}

.btsP h1{
  color: #fff;
  display: none;
}

.proy {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 1s;

}

.proy:hover::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
  opacity: 0;
  transition: opacity 0.3s ease;
}

.proy:hover .btsP button {
  transition: 1s;
  display: block;
  z-index: 1;
 
}
.proy:hover .btsP h1 {
  display: block;
 
}
.proy:hover::before,
.proy:hover img {
  opacity: 1;
  
}


.button3 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 2px;
  border: none;
  background: #d5da493d;
  border-radius: 20px;
  cursor: pointer;

}

.lable3 {
  font-size: 13px;
  color: #d3da49;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button2 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 2px;
  border: none;
  background: #7ac8ff3a;
  border-radius: 20px;
  cursor: pointer;

}

.lable2 {
  font-size: 13px;
  color: #0697ff;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.button1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 2px;
  border: none;
  background: #e44c2644;
  border-radius: 20px;
  cursor: pointer;

}

.lable1 {
  font-size: 13px;
  color: #E44D26;
  font-family: sans-serif;
  letter-spacing: 1px;
}



.button4 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 12px;
  gap: 2px;
  border: none;
  background: #61dafb40;
  border-radius: 20px;
  cursor: pointer;

}

.lable4 {
  font-size: 13px;
  color: #61DAFB;
  font-family: sans-serif;
  letter-spacing: 1px;
}

.btnsProyectsTec{
  display: flex;
  gap: 20px;
  padding-top: 10px;
}

/*MODAL*/

.modal{
  background-color: #fff;
  width: 800px;
  height: 500px;
  position: absolute;
  z-index: 12321;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}